<title>dogs for adoption</title>
<link rel="stylesheet" href="/public/adoptionStyle.css">
  </head>
  <body>
    <nav>
      <button><a href="/main">Home</a></button>

      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>

      <button><a href="#">About Us</a></button>
      <button><a href="#footer">Contact Us</a></button>
    </nav>
    <!--This is the main header-->
    <h1 id="title">dogs for adoption!</h1>
  </header>
  <main>
    <div class="card-deck">
          <div class="card">
            <img src="../assets/images/shibadogimg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">shibe</h5>
              <p class="card-text">very friend. much wow.</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn">adopt me!</button>
            </div>
          </div>
    
          <div class="card">
            <img src="../assets/images/blackdogimg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">german shepherd</h5>
              <p class="card-text">loyal, confident, and full of love!</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn">adopt me!</button>
            </div>
          </div>
     
        
          <div class="card">
            <img src="../assets/images/huskydogimg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">husky</h5>
              <p class="card-text">i just have a lot of feelings</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn">adopt me!</button>
            </div>
          </div>
        
      </div>

      </main>