    <h1 id="title">🦴 Welcome to TomaDoggy! 🦴</h1>
<!--This is the jumbotron with the sign in option-->
    <div class="jumbotron jumbo-display">
      <h2 class="display-4">TomaDoggy is your new favorite virtual pet who's always there for you when you need them the most!</h2>
      <hr class="my-4">
      <h3>Ready to meet your new best friend? Create an account to get started.</h3>
      <br>
      <button><a href="/signup">Get Started</a></button>
    </div>
    <!--This section introduces the dogs that are available-->
    <h2 id="center">There are three breeds currently available for adoption!</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 cards">
          <img src="images/shibadogimg.png" class="dog-img"
            alt="This is a pixelated image of a Shiba-Inu dog.">
          <div class="card-body">
            <h5 class="card-title">Shiba-Inu</h5>
            <p class="card-text">The Shiba-Inu is a good-natured and playful breed. They need lots of care and affection.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 cards">
          <img src="images/blackdogimg.png" class="dog-img"
            alt="This is a pixelated image of a German Shepherd dog.">
          <div class="card-body">
            <h5 class="card-title">German Shepherd</h5>
            <p class="card-text">The German Shepherd is an exeedingly loyal and obedient breed. They need lots of training and love.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 cards">
          <img src="images/huskydogimg.png" class="dog-img" alt="This is a pixelated image of a Husky.">
          <div class="card-body">
            <h5 class="card-title">Husky</h5>
            <p class="card-text">The Husky is a very energetic and smart breed. They need lots of attention and exercise.</p>
          </div>
        </div>
      </div>
    </div>
  <footer id="footer">
    <h4>Contact us at our <a href="https://github.com/Toma-doggy" target="_blank">Github!</a></h4>
  </footer>