 :root {
    --purple: #9d8189;
    --darkpink: #f4acb7;
    --lightpink: #ffcad4;
    --yellow: #ffe5d9;
    --green: #d8e2dc;
    --font: 'VT323', monospace;
  }
  /*This is CSS that will be applied throughout the html */
  * {
    font-family: var(--font);
   
  }
  body {
    background-image: url("/images/wp4735682.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* This is for the entire body section*/
  /*This is for the buttons */
  button {
    background-color: var(--purple);
    color: white;
  }
  /* This is for the navbar*/
  nav {
    margin: 2%;
    text-align: right;
    height: 60px;
  }
  nav button {
    height: 80%;
  }

  .modal {
    width: 100%;
    margin: 0;
  }

  nav button a {
    text-decoration: none;
    color: white;
  }
  nav button:hover {
    background-color: var(--darkpink);
    color: white;
  }
  nav button:hover a {
    text-decoration: none;
    color: black;
  }
  /* This is for the header title*/
  #title {
    text-align: center;
    color: white;
    font-size: 400%;
    text-shadow: 2px 2px var(--darkpink);
    background-color: rgba(95, 82, 82, 0.5);
    margin: 20%;
    margin-top: 0;
    margin-bottom: 0;
    border: 3px double var(--yellow);
    padding: 3%;
  }
  /* This is for the main section*/
  main {
    margin: 2%;
  }


  #home-img {
    max-height: 25px;
  }

  .form-control:focus {
    border-color: darkgray;
    box-shadow: 1px 1px 3px 1px darkgray inset;
}
  .cards {
    background-color: var(--darkpink);
  }
 
  /*sizes the dog images the same */
  .dog-img {
    max-height: 359px;
  }
  
  /* shibe */
  .shibe-hover-img {
    width: 40%;
    height: 40%;
  }
  
  .card-imgs img.shibe-hover-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .adopt-card:hover img.shibe-hover-img {
    opacity: 1;
  }
  
  /* shep */
  .shep-hover-img {
    width: 100%;
    height: 100%;
  }
  
  .card-imgs img.shep-hover-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .adopt-card:hover img.shep-hover-img {
    opacity: 1;
  }
  
  /* husky */
  .husky-hover-img {
    width: 40%;
    height: 40%;
  }
  
  .card-imgs img.husky-hover-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .adopt-card:hover img.husky-hover-img {
    opacity: 1;
  }
  
  @keyframes slidebg {
    to {
      background-position: 20vw;
    }
  }
  
  .adopt-deck {
    width: 100%;
    text-align: center;
    padding: 10%;
    padding-top: 2%;
  }
  
  .adopt-card {
    /* margin: 20px; */
    margin: 3%;
    background-color: var(--darkpink);
    color: white;
    box-shadow: 0 0 8px 8px var(--lightpink)inset;
  }
  
  .adopt.btn {
    background-color: var(--darkpink);
    width: 100%;
    margin: 0;
    height: 150%;
    padding: 0;
  }
  
  .adopt-card:hover {
    background-image: linear-gradient(
      90deg,
      #fff45b 0%,
      #ff94db 49%,
      #9ff8ab 80%,
      #fff45c 100%
    );
    animation: slidebg 10s linear infinite;
    box-shadow: 0 0 8px 8px var(--darkpink);
  }

  .card-img-top {
    height: 400px;
  }

  #carousel {
    display: none;
  }

  @media screen and (max-width: 800px) {

    body {
      background-image: url("/images/wp4735682.png");
      background-repeat: no-repeat;
      height: 1000px;
    }

    #carousel {
      display: block;
      margin: 10%;
      margin-bottom: 30%;
    }
    .adopt-deck {
      display: none;
    }

    #title {
      font-size: 2rem;
    }

    .carousel-item {
      background-color: rgba(95, 82, 82, 0.5);
    }

    .carousel-caption {
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
      margin-bottom: 10%;
    }
  }