:root {
  --font: 'VT323', monospace;
  --purple: #9d8189;
  --darkpink: #f4acb7;
  --lightpink: #ffcad4;
  --yellow: #ffe5d9;
  --green: #d8e2dc;
}
/*This is CSS that will be applied throughout the html */
* {
  font-family: var(--font);
}
/* This is for the entire body section*/
body {
  background-color: var(--yellow);
}
/*This is for the buttons */
button {
  background-color: var(--purple);
  color: white;
}
/* This is for the entire header section*/
header {
  background-color: var(--yellow);
}
/* This is for the navbar*/
nav {
  margin: 2%;
  text-align: right;
  background-color: var(--yellow);
}
/*changes the text color and hover effects of the nav buttons*/
nav button a {
  text-decoration: none;
  color: white;
}

nav button a:hover {
    color: white
}
nav button:hover {
  background-color: var(--darkpink);
  color: white;
}
/* This is for the header title*/
#title {
  text-align: center;
  font-size: 400%;
  background-color: var(--yellow);
}
/* This is for the main section*/
main {
  margin: 2%;
}
/* This is to center the text of the currently available breeds*/
#center {
  text-align: center;
}

.form-control:focus {
    border-color: #973131;
    box-shadow: 1px 1px 3px 1px grey inset;
}
  
/* This is for the background of the jumbotron display*/
.jumbo-display {
  background-color: var(--darkpink);
  margin-left: 10px;
  margin-right: 10px;
}
/* This sets the color for all the cards in the homepage and sign up area*/
.cards {
  background-color: var(--darkpink);
}
/*This is the CSS for the footer */
#footer {
  text-align: center;
}
/*sizes the dog images the same */
.dog-img {
  max-height: 359px;
  
}
/*THIS STARTS THE STYLING FOR THE SIGN-UP.HTML */

/*This styles the card holding the sign up form*/
.center-card {
  margin: 2%;
}
/* This centers the text above the sign up form*/
#account-text {
  text-align: center;
}
/* THIS IS THE CSS FOR THE DOG HOUSE HTML*/

/*This sets the size for the home image in the navbar */
#home-img {
  max-height: 25px;
}
/* This aligns the title in the center of the screen*/
#room-title {
  text-align: center;
}
/*sets the size for the leash in the card*/
#leash-img {
  max-height: 150px;
  max-width: 150px;
  margin: 10px;
}
/*this is for the animation stuff*/
canvas {
  display:flex;
  padding: 0;
  border: solid 6px #AAA;
  border-radius: 10px;
}
#petnav {
  margin-left: 30%;
  margin-right: 30%;
}