/*This styles the card holding the sign up form*/
* {
    background-color: aquamarine;
}

.center-card {
    margin: 2%;
}
/* This centers the text above the sign up form*/
#account-text {
    text-align: center;
}